
#parent{
    width: 400px;
    height: 400px;
    background-color: yellow;
    position: relative;
}

.red{
    width: 100px;
    height: 100px;
    background-color: red;
}

.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: fixed;
    /* ^ uses vh */
    bottom: 400px;
}

.green{
    width: 100px;
    height: 100px;
    background-color: green;
}