body{
    margin: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: purple;
    box-shadow: 0px 5px 30px rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header ul{
    list-style: none;
    margin-top: 4px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

header .logo{
    float: left;
    display: block;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 2em;
}

header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu-icon{
    padding: 35px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    margin-top: 2px;
}

header .menu-icon .nav-icon{
    background-color: black;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

