*{
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: sans-serif, Helvetica;
    background-color: white;
}

a{
    color: black;
}

header{
    background-color: rgba(100, 105, 233, 1);
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .4);
}